.body {
  background: url("https://www.toptal.com/designers/subtlepatterns/patterns/herringbone.png");
  width: 100%;
}

.headerContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  border-bottom: 1px solid black;
  height: calc(10vh - 1px);
  color: rgba(255, 255, 255, 0.3);
  background: #865964;
  box-shadow: 5px 5px 5px 0px #000000, inset 4px 4px 15px 0px #000000,
    5px 5px 15px 5px rgb(0 0 0 / 0%);
  width: 100%;
}

.titleHeader {
  text-transform: uppercase;
  font-size: 1.2rem;
  font-weight: bold;
}

.mainContainer {
  min-height: 80vh;
}

.formContainer {
  margin-top: 20px;
  margin-bottom: 20px;
}

.inputText {
  background: rgb(230, 223, 215);
  border-radius: 5px;
  width: 145px;
  margin-left: 5px;
}

.buttonSearch {
  height: 25px;
  width: 60px;
  font-weight: bold;
  background-color: #d8bec4;
  border-radius: 5px;
}

.displayContainer {
  display: grid;
  grid-template-columns: 145px auto;
}

.favoritesContainer {
  border-right: 1px solid black;
}

.titleFavorites {
  font-size: 0.9rem;
  text-align: center;
}

.lisFavoritesSerie {
  display: flex;
  flex-direction: column;
  list-style: none;
  margin: 20px 18px 25px 24px;
  width: 100px;
}

.buttonDeleteFavorites {
  position: absolute;
  display: block;
  border-radius: 40%;
  background-color: #e7d4d9;
  font-size: 8px;
  padding: 3px;
}

.imgFavoriteSeries {
  display: block;
  width: 100px;
  padding-top: 10px;
}

.titleSerieFavorite {
  display: block;
  font-size: 0.8rem;
  text-align: center;
  margin-top: 2px;
}

.buttonResetFavorites {
  height: 20px;
  width: 45px;
  margin-left: 18px;
  margin-bottom: 20px;
  margin-top: 5px;
  background-color: #d8bec4;
  border-radius: 5px;
}

.searchContainer {
  margin-left: 15px;
  margin-right: 15px;
}

.titleList {
  margin-left: 14px;
  font-size: 0.9rem;
}

.lisSerie {
  list-style: none;
  background-color: #865964;
  color: #c5da97;
  margin-top: 20px;
  margin-bottom: 25px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
}

.liSelectedSerie {
  list-style: none;
  background-color: #4a503d;
  color: #dfb6c1;
  margin-top: 20px;
  margin-bottom: 25px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
}

.imgSeries {
  display: block;
  width: 100px;
  padding-top: 10px;
}

.titleSeries {
  font-size: 1rem;
}

.footerContainer {
  border-top: 1px solid black;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  height: calc(10vh - 1px);
  text-shadow: #e0e0e0 1px 1px 0, 2px 2px 2px rgba(206, 89, 55, 0);
  color: #878787;
  background: #d8bec4;
  box-shadow: 5px 5px 5px 0px #000000, inset 4px 4px 15px 0px #000000,
    5px 5px 15px 5px rgba(0, 0, 0, 0);
}

@media (min-width: 768px) {
  .titleHeader {
    font-size: 2rem;
  }
  .inputText {
    height: 25px;
    width: 180px;
  }
  .displayContainer {
    grid-template-columns: 250px auto;
  }
  .favoritesContainer {
    width: 250px;
  }
  .lisFavoritesSerie {
    width: 150px;
    margin-left: 50px;
  }
  .titleFavorites {
    font-size: 1.5rem;
  }
  .buttonDeleteFavorites {
    font-size: 12px;
  }
  .imgFavoriteSeries {
    width: 150px;
  }
  .buttonResetFavorites {
    height: 25px;
    width: 60px;
  }
  .ulContainerSeries {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-column-gap: 10px;
  }
  .titleList {
    margin-left: 0;
    font-size: 1.5rem;
    text-align: center;
  }
  .titleFooter {
    font-size: 1.5rem;
  }
  .copy {
    font-size: 1.2rem;
  }
}

@media (min-width: 1024px) {
  .inputText {
    width: 300px;
  }
  .displayContainer {
    grid-template-columns: 550px auto;
  }
  .titleFavorites {
    font-size: 25px;
    text-align: center;
  }
  .favoritesContainer {
    width: 550px;
  }
  .ulFavoriteSeries {
    display: grid;
    grid-template-columns: 1fr 1fr;
  }
  .lisFavoritesSerie {
    width: 200px;
    margin-left: 0;
    margin-right: 0;
    justify-self: center;
  }
  .imgFavoriteSeries {
    width: 200px;
  }
  .titleSerieFavorite {
    font-size: 1rem;
  }
  .ulContainerSeries {
    grid-template-columns: 1fr 1fr 1fr;
  }
  .imgSeries {
    width: 300px;
  }
}
