.headerContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 10vh;
}

.titleHeader {
  text-transform: uppercase;
  font-size: 25px;
  font-weight: bold;
}

.mainContainer {
  height: 80vh;
}

.formContainer {
  margin-bottom: 20px;
}

.inpuText {
  width: ;
}

.displayContainer {
  display: flex;
  flex-direction: row;
}

.favoritesContainer {
  border-right: 1px solid black;
  display: inline;
  width: 150px;
}

.titleFavorites {
  display: inline;
  margin-right: 10px;
  margin-left: 10px;
  font-size: 15px;
}

.favoriteList {
  display: grid;
  grid-template-columns: 1fr;
}

.lisFavoritesSerie {
  list-style: none;
  margin: 20px 18px 25px 18px;
  height: 120px;
}

.buttonDeleteFavorites {
  position: absolute;
  display: block;
}

.imgSerie {
  display: block;
  width: 100px;
  padding-left: 20px;
  padding-top: 10px;
}

.titleSerieFavorite {
  display: block;
  text-indent: 20px;
  font-size: 10px;
}

.resetFavorites {
  height: 20px;
  width: 45px;
  margin-top: 10px;
  margin-left: 18px;
}

.searchContainer {
  display: grid;
  grid-template-columns: 1fr;
  margin-left: 15px;
}

.lisSerie {
  list-style: none;
  background-color: purple;
  margin-top: 20px;
  margin-bottom: 25px;
  height: 120px;
}

.liSelectedSerie {
  list-style: none;
  background-color: seagreen;
  color: purple;
  margin-top: 20px;
  margin-bottom: 25px;
  height: 120px;
}

.footerContainer {
  border-top: 1px solid black;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  height: calc(10vh - 1px);
}

@media (min-widht: 768px) {
  .lisSerie {
    height: 350px;
    width: 250px;
  }
  .liSelectedSerie {
    height: 350px;
    width: 250px;
  }
  .lisFavoritesSerie {
    height: 350px;
    width: 250px;
  }
}
